*{
  font-family: "Creepster", sans-serif;
  font-weight: bold;
  color: black;
}

button{
    background: transparent;
    color: white;
}

body {
  background-image:url('flying-ghosts.gif');
  background-repeat: repeat-x;
  background-size: cover;
  color: #333333;
  margin-top: 20px;
}

.container {
  display: block;
  width: 400px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

h1{
    font-size: 50px;
    color: white;
}

h2{
    color: rgb(212, 117, 39);
    font-size: 30px;
} 