*{
  font-family: "Creepster", sans-serif;
  font-weight: normal;
  color: white;
}

button{
    background: transparent;
    color: white;
}

body {
  background-image:url('halloween.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #333333;
  margin-top: 20px;
}

.container {
  display: block;
  width: 400px;
  margin: 0 auto;
  margin-top: 150px;
}

ul {
  margin: 0;
  padding: 0;
}

h1{
    font-size: 50px;
    color: white;
    font-weight: bold;
}

h2{
    color: rgb(212, 117, 39);
    font-size: 30px;
    font-weight: bold;
} 

input[type=checkbox]:checked + label{
    cursor: pointer;
}

input[type=checkbox]:checked + label:before{
    background-color:  #D47527;
    color: #fff;
}